<div class="container-fluid">
  <app-launch-info-box 
    *ngFor="let launch of latestLaunches"
    [imageURL] = "launch.rocket.imageURL"
    [name] = "launch.name"
    [net] = "launch.net"
    [rocket_name] = "launch.rocket.name"
    [familyname] = "launch.rocket.familyname"
    [wiki_url] = "launch.rocket.wikiURL"
    [gMapLat] = "launch.location.pads[0].latitude"
    [gMapLng] = "launch.location.pads[0].longitude"
    [pad_name] = "launch.location.pads[0].name"
    [pad_wiki_url] = "launch.location.pads[0].wikiURL"
    [location_name] = "launch.location.name"
    [agency_name] = "launch.lsp.name"
    [ageny_infoURL] = "launch.lsp.infoURL"
    [agency_wikiURL] = "launch.lsp.wikiURL"
    [mission_description] = "launch.missions[0] ? launch.missions[0].description : ''"
  ></app-launch-info-box>
</div>